aic_data/huggingface/
aic_data/outputs/
aic_data/lerobot-datasets/
aic_data/scenarios/
aic_data/captures/
aic_data/model/

paper/
myenv/
.venv/
venv/
env/

ABOUT-ME/
TEMPLATES/
CLAUDE.md
GEMINI.md

.claude/
.idea/

ws_aic/data/
ws_aic/weight/
ws_aic/.venv
ws_aic/src/ais/ais_distance_prediction/.venv

*.pt
ws_aic/.vscode/settings.json
ws_aic/src/ais/ais_distance_prediction/.vscode/settings.json
.codex/AGENTS.md
