/build
/install
/log

src/UniversalRobots/
src/gazebo/
src/ros-controls/
src/ros/
src/data/lerobot
src/data/yolo
src/ais/data/
src/ais/ais_early_prediction/__pycache__
src/ais/ais_motion_planning/__pycache__
src/ais/ais_port_detection/__pycache__
src/ais/ais_policy/data_gen_node.egg-info


__pycache__