/build
/install
/log

src/UniversalRobots/
src/gazebo/
src/ros-controls/
src/ros/
src/data/lerobot
src/data/yolo
src/ais/data/
src/ais/ais_early_prediction/__pycache__
src/ais/ais_motion_planning/__pycache__
src/ais/ais_port_detection/__pycache__
src/model/
src/build/
src/install/
src/data/
src/log/

__pycache__
*.egg-info/
.venv
data/
weight/
notebook/
!src/ais/ais_yolo_train/notebook/
!src/ais/ais_yolo_train/notebook/*.ipynb
.vscode
model
!src/ais/ais_pose_prediction/ais_pose_prediction/model/
!src/ais/ais_pose_prediction/ais_pose_prediction/model/*.py
